<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="cabecalho">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Controle de estoque</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Produto <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/produtos/novo}">Cadastrar</a></li>
							<li><a th:href="@{/produtos}">Produtos</a></li>
							<li><a th:href="@{/produtos/categoria}">Categorias</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Cliente <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Cadastrar</a></li>
							<li><a href="#">Clientes</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pedido<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Registrar</a></li>
							<li><a href="#">Cancelar</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Confirmar pagamento e liberar produto</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
</html>