<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="ModalCadastroCategoria">
	<form class="form-horizontal" th:action="@{/produtos/novo/categoria}" method="POST">
		<div class="modal fade" id="DialogoCadastroCategoria" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Nova categoria</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="categoria" class="col-sm-2 control-label">Categoria</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="categoria" placeholder="Nome da nova categoria" name="descricao">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</html>